/*  ====================================================================================
    GENERIC - html, body, etc....
    ====================================================================================
*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/*  ====================================================================================
    GRAPH CONTAINERS
    ====================================================================================
*/
#graph_containers {
    display: flex;
    flex: 1;
    height: 50%;
    align-items: center; 
    justify-content: space-between;
    padding: 10px;
}

#graph_container1, #graph_container2 {
    width: 47%;
    height: 100%;
    border: 1px solid #000000;
    box-sizing: border-box;
}

/*  ====================================================================================
    QUEUES
    ====================================================================================
*/
#first_queues, #second_queues {
    display: flex;
    flex: 1;
    height: 5%;
    padding: 5px;
    gap: 10px;
}

.priority_queue_f, .priority_queue_b {
    flex: 1;
    border: 1px solid #000000; 
    padding: 10px;
    align-items: center; 
    justify-content: center;
    font-family: sans-serif;
    font-size: 1vw;
}

#queues {
    display: flex;
    height: 100%;
    gap: 5.4%;
    padding-left: 5px;
    padding-right: 5px;
}

/*  ====================================================================================
    SELECT, START, RESET
    ====================================================================================
*/
#above_containers {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    gap: 10px;
}

#strategies_select_1, #strategies_select_2 {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 15%;
}

#strategy_text {
    display: flex;
}

.select {
    width: 100%;            
    padding: 8px;            
    border: 1px solid #000;  
    background: #fff;   
    font-family: sans-serif; 
    cursor: pointer;
}

.main_button {
    flex: 1;
    font-size: 1.5vw; 
    background-color: #929292;
    cursor: pointer; 
    border: none; 
    border-radius: 5px; 
    padding: 10px;
}

.main_button:hover { 
    background-color: #0056b3; 
}

#steps {
    display: flex;
    flex-direction: column;
}

#number_of_steps {
    display: flex;
    height: 48%;
}

#steps_text {
    display: flex;
    height: 48%;
}